html {
    background-color: rgb(20,20,20);
    font-family: "Trebuchet MS";
    color: white;
    font-size: 1.5em;
}

body {
    text-align: center;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
}

nav {
    text-align: center;
    font-size: 1.5em;
}

a {
    display: inline-block;

    padding: 1em;

    border-radius: 2em;
    color: white;

}

a {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

a:hover {
    transform: scale(1.1);
    background-color: black;
}

input {
    background-color: lightgray;

    border-radius: 1em;
    height: 2em;
}

button {
    border-radius: 1em;
    font-size: 1em;

    margin: 0.5em;
    padding: 0.5em;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.playlists {
    text-align: left;
}

.playlists > * {
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 25%;

    border: 1px solid gray;
    border-radius: 1em;

    display: block;
    width: 25%;
    font-size: 1.5em;
}

.playlists > *:link, :visited {
    color: white;
}